<h1>Your Text Analysis</h1>

<h2>Number of Words: <% @analyzed_text.count_of_words %></h2>

<h2>Vowels: </h2>
# <% TextAnalyzer.count_of_vowels(@analyzed_text) %>

<h2>Consonants: </h2>
<% TextAnalyzer.count_of_consonants(@analyzed_text) %>

<h2>Most Common Letter: _____ used _____ times</h2>
