<h1>Your Text Analysis</h1>

<h2>Number of Words: <% TextAnalyzer.count_of_words(@analyzed_text) %></h2>

<h2>Vowels: <% TextAnalyzer.count_of_vowels(@analyzed_text) %></h2>

<h2>Consonants: <% TextAnalyzer.count_of_consonants(@analyzed_text) %></h2>

<h2>Most Common Letter: <% TextAnalyzer.most_used_letter(@analyzed_text) %> used _____ times</h2>
